<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="GuestTestApp"
        android:name=".runtime.Exp003GuestApplication"
        android:theme="@style/Exp003GuestTheme"
        android:appComponentFactory=".runtime.Exp003GuestComponentFactory">
        <meta-data android:name="com.example.appsandbox.guest.CONTRACT_VERSION" android:value="2" />
        <meta-data android:name="com.example.appsandbox.guest.VIEW_LAYOUT" android:value="exp002_test_layout" />
        <meta-data android:name="com.example.appsandbox.guest.ACTION_SPEC" android:value="guest_actions" />
        <activity android:name=".runtime.GuestMainActivity" android:exported="false" />
        <activity android:name=".runtime.GuestScreenActivity" android:exported="true" />
    </application>
</manifest>
