<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="GuestTestApp"
        android:name=".runtime.Exp003GuestApplication"
        android:theme="@style/Exp003GuestTheme"
        android:appComponentFactory=".runtime.Exp003GuestComponentFactory">
        <activity android:name=".runtime.GuestMainActivity" android:exported="false" />
    </application>
</manifest>
