<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".FixtureComponents$ExportedActivity"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".FixtureComponents$ChangedActivity"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".FixtureComponents$EnabledService"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".FixtureComponents$ChangedReceiver"
            android:enabled="true"
            android:exported="false" />
        <provider
            android:name=".FixtureComponents$FixtureProvider"
            android:authorities="com.example.appsandbox.resolverfixture.provider.v2"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
