<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data android:name="com.example.appsandbox.guest.CONTRACT_VERSION" android:value="2" />
        <meta-data android:name="com.example.appsandbox.guest.VIEW_LAYOUT" android:value="fixture_layout" />
        <meta-data android:name="com.example.appsandbox.guest.ACTION_SPEC" android:value="missing_actions" />
    </application>
</manifest>
