<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name=".experiments.act008.Act008GuestApplicationRuntimeService"
            android:exported="false"
            android:process=":guest_runtime" />
        <activity android:name=".automation.Task29AutomationActivity" android:exported="true" />
        <activity android:name=".automation.Task40ResolverAutomationActivity" android:exported="true" />
        <activity android:name=".automation.Task43ImplicitResolverAutomationActivity" android:exported="true" />
        <activity android:name=".automation.Task48IntentFilterParityActivity" android:exported="true" />
        <activity android:name=".automation.Task48LogicalMatrixActivity" android:exported="true" />
        <activity android:name=".automation.Task49SetupActivity" android:exported="true" />
        <activity android:name=".automation.Task55Api31Activity" android:exported="true" />
        <activity android:name=".experiments.act006.api31.Act006Runner" android:exported="true" />
        <activity android:name=".experiments.act006.api31.Act006SetupActivity" android:exported="true" />
        <activity android:name=".experiments.act007.api36.Act007RunnerActivity" android:exported="true" />
        <activity android:name=".experiments.act008.Act008MatrixActivity" android:exported="true" />
        <activity android:name=".automation.Task57AutomationActivity" android:exported="true" />
        <activity android:name=".experiments.v1.ExperimentActivity" android:exported="true" />
        <activity android:name=".experiments.task27.Task27DemoActivity" android:exported="true" />
        <activity
            android:name=".experiments.act003.Act003StubActivity"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.AppSandbox" />
    </application>
</manifest>
