<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name=".automation.Task29AutomationActivity" android:exported="true" />
        <activity android:name=".experiments.v1.ExperimentActivity" android:exported="true" />
        <activity android:name=".experiments.task27.Task27DemoActivity" android:exported="true" />
        <activity
            android:name=".experiments.act003.Act003StubActivity"
            android:exported="false"
            android:launchMode="standard"
            android:theme="@style/Theme.AppSandbox" />
    </application>
</manifest>
