<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <permission
        android:name="com.example.appsandbox.intentfilterfixture.permission.PROTECTED"
        android:protectionLevel="signature" />

    <application>
        <activity
            android:name=".FilterComponents$FilterActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="10" android:autoVerify="true">
                <action android:name="com.example.intent.VIEW" />
                <action android:name="com.example.intent.EDIT" />
                <category android:name="com.example.intent.DEFAULT" />
                <category android:name="com.example.intent.IMAGE" />
                <data
                    android:mimeType="image/*"
                    android:scheme="HTTPS"
                    android:host="Example.COM"
                    android:path="/images" />
            </intent-filter>
            <intent-filter android:priority="10" android:autoVerify="true">
                <action android:name="com.example.intent.VIEW" />
                <action android:name="com.example.intent.EDIT" />
                <category android:name="com.example.intent.DEFAULT" />
                <category android:name="com.example.intent.IMAGE" />
                <data
                    android:mimeType="image/*"
                    android:scheme="HTTPS"
                    android:host="Example.COM"
                    android:path="/images" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FilterComponents$ExactActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="5">
                <action android:name="com.example.intent.VIEW" />
                <category android:name="com.example.intent.DEFAULT" />
                <data
                    android:mimeType="image/png"
                    android:scheme="https"
                    android:host="example.com" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FilterComponents$DisabledActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.example.intent.DISABLED" />
                <category android:name="com.example.intent.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FilterComponents$ProtectedActivity"
            android:enabled="true"
            android:exported="true"
            android:permission="com.example.appsandbox.intentfilterfixture.permission.PROTECTED">
            <intent-filter>
                <action android:name="com.example.intent.PROTECTED" />
                <category android:name="com.example.intent.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FilterComponents$RevisionV1Activity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.intent.REVISION_V1" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".FilterComponents$FilterReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1">
                <action android:name="com.example.intent.PING" />
                <category android:name="com.example.intent.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
